
@import url(./variables.css);
@import url(./fonts.css);
@import url(./reset.css);
@import url(./components.css);


@import url(./pages/login.css);



body {
  font-family: var(--vazir);
  font-weight: var(--fw-regular);
  line-height: var(--lh-140);
  font-size: var(--fs-body-3);
}

/* helper class */
.item-center {
  align-items: center;
}
.section-space {
  margin-top: var(--s-36px);
}

/* Header */
.header {
  border-bottom: 0.1rem solid var(--color-Neutral-Gray-4);
  container: header / inline-size;
}
.header__banner {
  font-size: var(--fs-body-4);
  color: var(--color-Primary-Tint-1);
  background-color: var(--color-Primary);
  text-align: center;
  width: 100%;
  height: var(--s-40px);
  line-height: var(--lh-180);
  padding-block: calc(var(--spacing) * 0.7);
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--s-24px);
}
.header__search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--s-48px);
  width: 100%;
  max-width: clamp(20rem, 45vw, 59.6rem);
  background-color: var(--color-Primary-Tint-1);
  padding: 1.1rem var(--s-24px);
  border: 0.1rem solid var(--color-Neutral-Gray-4);
  border-radius: var(--radius-lg);
  flex-shrink: 1;
  position: relative;
}
.header__search-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-shrink: 0;
}

.header__search-btn:focus-visible {
  outline: 2px solid var(--color-Primary);
  border-radius: var(--radius-sm, 4px);
}
.header__search-fake {
  display: none;
}
.header__search {
  border: none;
  outline: none;
  width: 100%;
}
.header__search::placeholder {
  color: var(--color-Primary);
  font-size: var(--fs-body-4);
  line-height: var(--lh-140);
}
.header__search-icon {
  cursor: pointer;
}
.header__action-wrapper,
.header__login-wrapper,
.header__shopping-wrapper {
  display: flex;
  align-items: center;
}
.header__action-wrapper {
  gap: var(--s-32px);
}
.header__login-wrapper,
.header__shopping-wrapper {
  gap: var(--s-8px);
}
.header__shopping-wrapper {
  position: relative;
}
.header__login-txt,
.header__shopping-txt {
  font-size: var(--fs-body-4);
  color: var(--color-Neutral-Gray-9);
}
.header__quantity {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  height: var(--s-16px);
  width: var(--s-16px);
  background-color: var(--color-Primary-Tint-4);
  display: grid;
  place-items: center;
  border-radius: 50%;
  line-height: 1;
  font-size: var(--fs-body-4);
}
.header__logo-mobile,
.nav-btn {
  display: none;
}
.nav-btn__line,
.nav-btn__line::before,
.nav-btn__line::after {
  width: calc(var(--spacing) * 2.2);
  height: 0.2rem;
  background-color: var(--color-Neutral-Gray-10);
}
.nav-btn__line {
  position: relative;
  display: block;
  border-radius: var(--radius-lg);
}
.nav-btn__line::before,
.nav-btn__line::after {
  content: "";
  position: absolute;
}
.nav-btn__line::before {
  transform: translateY(-0.6rem);
}
.nav-btn__line::after {
  transform: translateY(0.6rem);
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  gap: 7rem;
  margin-top: 2.2rem;
  container: nav / inline-size;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: var(--s-72px);
  color: var(--color-Neutral-Gray-9);
  white-space: nowrap;
}
.nav-list__link {
  position: relative;
  display: inline-block;
  padding-bottom: 0.6rem;
  text-decoration: none;
}
.nav-list__link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--color-Primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
.nav-list__link:hover::after {
  transform: scaleX(1);
}

/* mobile__nav-posfixed */

.btm-menu {
  display: none;
}

/* Hero */
.hero {
  background-color: var(--color-Primary-Tint-3);
  border-radius: var(--radius-lg);
  color: var(--color-Neutral-Gray-9);
  position: relative;
  overflow: hidden;
}
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 24.1rem;
  height: 38.1rem;
  background-color: var(--color-Primary-Tint-2);
  z-index: 1;
  opacity: 0.9;
  border-radius: var(--radius-sm);
}
.hero::before {
  left: -13.8rem;
  bottom: -16.4rem;
  transform: rotate(-10deg);
}
.hero::after {
  right: -20.9rem;
  top: -8.7rem;
  transform: rotate(10deg);
}
.hero__content {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 6;
  margin-right: -4rem;
  z-index: 2;
  position: relative;
}
.hero__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-180);
  font-weight: var(--fw-bold);
}
.hero__caption {
  font-size: var(--fs-body-2);
  line-height: var(--lh-180);
  margin-block: 2rem 5.5rem;
  max-width: 38rem;
}
.hero__btns {
  display: flex;
  gap: var(--s-24px);
  align-items: center;
}
.hero__btn {
  min-width: 18.4rem;
  padding-inline: var(--s-32px);
  justify-content: center;
}
.hero__img-wrapper {
  grid-column: 6 / 11;
  margin-right: -5rem;
  z-index: 2;
  position: relative;
}
.hero__img {
  object-fit: cover;
}

/* Category */
.category {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
  overflow: hidden;
  color: var(--color-Neutral-Gray-10);
}
.category__cards {
  gap: var(--s-24px);
}
.category__card {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--s-8px);
  border: 0.1rem solid var(--color-Neutral-Gray-4);
  border-radius: var(--radius-lg);
  text-align: center;
  padding: var(--s-8px);
}

.category__img-wrapper {
  border-radius: var(--radius-sm);
  overflow: hidden;
  height: 7.9rem;
}
.category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.category__card-title {
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  font-weight: var(--fw-bold);
}
.category__arrows {
  display: none;
}

/* Best Products */
.best {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
}
.best .section-header__title::after {
  max-width: 84.1rem;
  width: 100%;
}

/* Special */
.special {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
}
.special__wrapper {
  grid-template-rows: repeat(2, 27.6rem);
}
.special__wrapper .special__card:first-child {
  grid-column: span 6;
  grid-row: 1 / 3;
}
.special__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  overflow: hidden;
  width: 100%;
  height: 100%;
  grid-column: span 3;
}
.special__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.special__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.special__title {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--color-Primary-Tint-3);
  position: absolute;
  bottom: 3.2rem;
  right: 3.2rem;
  z-index: 2;
}

.special__title--mobile-school {
  display: none;
}
.special__badge {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 5.7rem;
  height: 9.7rem;
  background-color: var(--color-Primary-Tint-7);
  color: var(--color-Primary-Tint-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.4rem;
  gap: 0.6rem;
  font-weight: var(--fw-bold);
  z-index: 3;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 57 97'%3E%3Cpath d='M0 0h57v94a2 2 0 0 1-3.2 1.6Q28.5 58 3.2 95.6A2 2 0 0 1 0 94Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 57 97'%3E%3Cpath d='M0 0h57v94a2 2 0 0 1-3.2 1.6Q28.5 58 3.2 95.6A2 2 0 0 1 0 94Z'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.special__badge span {
  font-size: var(--fs-body-1);
  line-height: 1.1;
  letter-spacing: 0.05rem;
}

/* Favorite */
.favorite {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
}
.favorite__btn {
  height: 3.8rem;
  font-weight: var(--fw-bold);
}

/* Designers */
.designers {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
}
.designers__wrapper {
  container: designers / inline-size;
}
.designers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-Primary-Tint-1);
  border-radius: var(--radius-lg);
  border: 0.1rem solid var(--color-Neutral-Gray-4);
  overflow: hidden;
  grid-column: span 3;
}
.designers__card-head {
  background-color: var(--color-Primary-Tint-2);
  width: 100%;
  height: var(--s-72px);
  position: relative;
  margin-bottom: var(--s-40px);
}
.designers__profile-img {
  width: var(--s-80px);
  height: var(--s-80px);
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
}
.designers__card-body {
  padding: 0 var(--s-16px) var(--s-16px) var(--s-16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-16px);
  width: 100%;
}
.designers__name {
  margin-block: 3rem 2rem;
  font-weight: var(--fw-bold);
}
.designers__info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.designers__info-text {
  position: relative;
  color: var(--color-Neutral-Gray-7);
  font-size: var(--fs-caption-4);
}
.designers__info-text:not(:last-child) {
  margin-inline-end: var(--s-16px);
}
.designers__info-text:not(:last-child)::after {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.2rem;
  height: var(--s-16px);
  background-color: var(--color-Neutral-Gray-5);
  border-radius: 99px;
}
.designers__pattern {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-12px);
}
.designers__pattern-wrapper {
  border: 0.1rem solid var(--color-Neutral-Gray-5);
  border-radius: var(--radius-sm);
  width: var(--s-80px);
  height: var(--s-80px);
  overflow: hidden;
}
.designers__pattern-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.designers__btn {
  height: 3.8rem;
  font-weight: var(--fw-bold);
  width: 100%;
  max-width: 27.2rem;
  gap: var(--s-8px);
}

/* Gift */
.gift {
  gap: var(--s-24px);
}
.gift__card {
  width: 100%;
  background-color: var(--color-Primary-Tint-3);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 18.8rem;
  padding-inline: 2.8rem 0rem;
  grid-column: span 6;
}
.gift__card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-16px);
}
.gift__title {
  font-size: var(--fs-h4);
  color: var(--color-Neutral-Gray-10);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  max-width: 24.3rem;
  margin-bottom: 0;
}
.gift__card-img {
  width: 45%;
  height: 100%;
  flex-shrink: 0;
}
.gift__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.gift__card-img--pos {
  object-position: center top;
}

/* latest */

.latest {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
  margin-block: var(--s-32px);
}
.product.product__latest--content {
  border: none;
}

.latest__caption {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  line-height: var(--lh-140);
  font-weight: var(--fw-bold);
  max-width: 22rem;
}
.latest__img-wrapper {
  align-items: flex-end;
  width: 23rem;
  height: 100%;
}
.latest__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* cards */

.cards__wrapper {
  width: 100%;
  height: 100%;
}

.card__img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: clamp(var(--radius-sm), 0.457rem + 0.95vw, var(--radius-lg));
  overflow: hidden;
}

.cards__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  display: block;
}

.card__img-wrapper.item-1,
.card__img-wrapper.item-6 {
  grid-column: span 3;
  max-height: 16rem;
  aspect-ratio: 288 / 160;
}

.card__img-wrapper.item-1 {
  grid-row: 1 / 3;
}

.card__img-wrapper.item-6 {
  grid-row: 1 / 3;
}

.card__img-wrapper.item-2,
.card__img-wrapper.item-3,
.card__img-wrapper.item-4,
.card__img-wrapper.item-5 {
  grid-column: span 3;
  max-height: 6.8rem;
  aspect-ratio: 288 / 68;
}

.card__img-wrapper.item-2,
.card__img-wrapper.item-3 {
  grid-row: 1 / 2;
}

.card__img-wrapper.item-4,
.card__img-wrapper.item-5 {
  grid-row: 2 / 3;
}

.card__description {
  font-size: clamp(1rem, 0.504rem + 1.549vw, 2.4rem);
  text-align: center;
  color: var(--color-Neutral-Gray-10);
  margin-block: var(--s-24px);
  font-weight: var(--fw-bold);
  line-height: var(--lh-140);
}
.cards__btn__wrapper {
  display: flex;
  justify-content: center;
}
.cards__btn {
  max-width: 18.4rem;
  margin-inline: auto;
}

.card__img-wrapper:nth-child(1) img {
  object-position: 50% 20%;
}

.card__img-wrapper:nth-child(2) img {
  object-position: 50% 49%;
}

.card__img-wrapper:nth-child(3) img {
  object-position: 50% 40%;
}

.card__img-wrapper:nth-child(4) img {
  object-position: 50% 41%;
}

.card__img-wrapper:nth-child(5) img {
  object-position: 50% 50%;
}

.card__img-wrapper:nth-child(6) img {
  object-position: 50% 39%;
  transform: scale(1.1) translateZ(0);
  
}

/* interest */

.interest {
  display: flex;
  flex-direction: column;
  gap: var(--s-24px);
  position: relative;
}

.interest__products {
  display: flex;
  gap: var(--s-24px);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.interest__products::-webkit-scrollbar {
  display: none;
}

.interest__products > * {
  flex-shrink: 0;
  width: 28.8rem;
}

.interest__icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */

.footer {
  margin-top: 4.5rem;
}
.newsletter {
  background-color: var(--color-Primary-Shade-6);
  padding-block: 5.26rem;
  padding-inline: 2rem;
}
.newsletter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.newsletter__form-text {
  font-size: var(--fs-body-4);
  color: #fff;
}
.newsletter__form-wrapper {
  display: flex;
  gap: 1.2rem;
}
.newsletter__input {
  border-radius: 0.8rem;
  outline: none;
  border: #fff 0.1rem solid;
  background-color: transparent;
  height: 4rem;
  padding: 0.6rem 0.8rem;
  width: 39.2rem;
  color: #fff;
}
.newsletter__input::placeholder {
  color: var(--color-Neutral-Gray-6);
  font-size: var(--fs-body-5);
}
.newsletter__btn {
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--color-Primary);
  border: none;
  color: #fff;
  cursor: pointer;
}
.newsletter__socials {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.newsletter__socials-text {
  font-size: var(--fs-body-4);
  color: #fff;
}
.newsletter__socials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 150ms ease-in-out;
}

.newsletter__support,
.newsletter__socials-text-mobile,
.newsletter__copyright-mobile {
  display: none;
}

.newsletter__icons {
  max-width: 2.4rem;
  max-height: 1.8rem;
}
.newsletter__phone {
  direction: ltr;
  unicode-bidi: embed;
  margin-right: 0.5rem;
}

.main-footer {
  background-color: var(--color-Primary);
  color: #fff;
  padding: 5rem 5rem 1rem 5rem;
  container: main-footer / inline-size;
}
.main-footer__wrapper {
  display: flex;
  align-items: center;
}
.main-footer__right {
  flex-basis: 65%;
  display: flex;
  align-items: center;
}
.main-footer__right-wrapper {
  display: flex;
  gap: 12rem;
}
.main-footer__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-footer__list-title {
  font-size: var(--fs-caption-1);
  position: relative;
  padding-bottom: 0.8rem;
  width: fit-content;
}
.main-footer__list-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-Neutral-Gray-6);
  border-radius: 0.2rem;
}
.main-footer-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-footer__link {
  font-size: var(--fs-body-4);
}
.main-footer__left {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6rem;
}
.main-footer__left-title {
  font-size: var(--fs-h6);
}
.main-footer__left-info-wrapper {
  font-size: var(--fs-body-5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.main-footer__phone {
  margin-right: 1rem;
  direction: ltr;
  display: inline-block;
}
.main-footer__imgs-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--s-32px);
}
.main-footer__img-frame {
  border-radius: 0.4rem;
  overflow: hidden;
}
.main-footer__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.main-footer__copyright {
  font-size: var(--fs-caption-4);
  color: var(--color-Neutral-Gray-6);
  margin-top: 1rem;
}


