.profile__container {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 6rem;
}
.profile__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-140);
  margin-block: 3rem 1.5rem;
}
.profile__sidebar {
  flex-basis: 30.5%;
  flex-shrink: 0;
}
.profile-card {
  max-width: 40rem;
  border: 0.1rem solid var(--color-Neutral-Gray-3);
  border-radius: var(--radius-lg);
  padding: 2.2rem 2.9rem;
  color: var(--color-Neutral-Gray-9);
}
.profile-card__avatar-wrapper {
  max-width: 14.4rem;
  max-height: 14.4rem;
  z-index: 998;
  position: relative;
  margin: 0 auto;
}
.profile-card__avatar {
  border-radius: 8rem;
  width: 100%;
  height: 100%;
}
.profile-card__avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Primary-Tint-7);
  max-width: 4rem;
  max-height: 4rem;
  padding: 0.8rem;
  border-radius: 10rem;
  gap: 0.8rem;
  position: absolute;
  z-index: 999;
  left: 0.3rem;
  bottom: -0.1rem;
}

.profile-card__name {
  font-size: var(--fs-body-1);
  margin-block: 1rem;
  text-align: center;
}
.profile-card__email {
  color: var(--color-Neutral-Gray-8);
  font-size: var(--fs-body-1);
  text-align: center;
  display: block;
}
.profile-card__stats {
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 1.5vw, 1.6rem);
  font-size: clamp(1.1rem, 1.2vw + 0.5rem, var(--fs-body-2));
  margin-block: 2rem 4rem;
}
.profile-card__stat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: clamp(0.5rem, 1vw, 1rem);
}
.profile-card__stat-label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.profile-card__stat-label,
.profile-card__stat-value {
  white-space: nowrap;
}
.profile-card__stat-label a {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.profile-card__stat-icon {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
}

.profile-menu {
  display: flex;
  flex-direction: column;
}
.profile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.profile-menu__item {
  border-bottom: 0.1rem solid var(--color-Neutral-Gray-3);
  font-size: var(--fs-body-2);
  padding-bottom: 1.6rem;
}
.profile-menu__item--active {
  color: var(--color-Primary-Tint-7);
  border-bottom: 0.1rem solid var(--color-Primary-Tint-7);
}
.profile-menu__link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.profile-menu__item--logout {
  padding-bottom: 0;
  border-bottom: none;
}

.profile__content {
  flex-basis: 69.5%;
  max-width: 100%;
  border: 0.1rem solid var(--color-Neutral-Gray-3);
  border-radius: var(--radius-lg);
  padding: 2.5rem 2rem 2rem 0rem;
}
.section-header.section-header--line-hide.section-header::after {
  display: none;
}
.profile-orders {
  width: 100%;
  max-width: 82rem;
  margin: 0 auto 4rem auto;
}
.profile-orders__grid {
  gap: 2rem 3rem;
  justify-items: center;
  align-items: center;
}

.profile-orders__title {
  margin-bottom: 4rem;
}

.profile-orders__card {
  grid-column: span 4;
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 100%;
  align-items: center;
}
.profile-orders__info {
  display: flex;
  flex-direction: column;
  color: var(--color-Neutral-Gray-9);
}
.profile-orders__status {
  font-size: var(--fs-body-5);
}
.profile-orders__count {
  font-size: var(--fs-body-2);
}
.profile-orders__icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}
